<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
  <!-- Database Configuration -->
  <!---->
  <import resource="DataSource.xml"/>
  <import resource="HibernateSessionFactory.xml"/>
  <import resource="com/gwac/bean/DataProcessMachineBean.xml"/>
  <import resource="com/gwac/bean/UserInfoBean.xml"/>
  <import resource="com/gwac/bean/Telescope.xml"/>
  <import resource="com/gwac/bean/UploadFile.xml"/>
  <import resource="com/gwac/bean/OtObserveRecordBean.xml"/>
  <import resource="com/gwac/bean/TimerTaskBean.xml"/>
  <import resource="com/gwac/bean/OtBean.xml"/>
  <import resource="com/gwac/bean/FitsFileCutBean.xml"/>
  <import resource="com/gwac/bean/ConfigFile.xml"/>
  <import resource="com/gwac/bean/DataBackupBean.xml"/>
  <import resource="com/gwac/bean/FileTransferBean.xml"/>
  <import resource="com/gwac/bean/OtType.xml"/>
  <import resource="com/gwac/bean/OtLevel2Match.xml"/>
  
  <import resource="com/gwac/bean/MysqlQuery.xml"/>
 
</beans>
