<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
  <!-- Database Configuration -->
  <!---->
  <import resource="DataSource.xml"/>
  <import resource="HibernateSessionFactory.xml"/>
  
<!--  <import resource="DataSource-mysql.xml"/>
  <import resource="HibernateSessionFactory-mysql.xml"/>
  <import resource="com/gwac/bean/MysqlQuery.xml"/>-->
  
  <import resource="com/gwac/bean/GwacDao.xml"/>
  <import resource="com/gwac/bean/GwacService.xml"/>
  <import resource="com/gwac/bean/GwacAction.xml"/>
  
  <import resource="com/gwac/bean/ActivemqDestination.xml"/>
<!--  <import resource="com/gwac/bean/ActivemqConsumer.xml"/>
  <import resource="com/gwac/bean/TimerJob.xml"/>
  <import resource="com/gwac/bean/TimerTaskBean.xml"/>-->
  
</beans>
