<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">xyag902</property>
        <property name="hibernate.connection.url">jdbc:postgresql://10.36.1.154:5432/xy</property>
        <property name="hibernate.connection.username">xy</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <mapping resource="com/gwac/model/OtObserveRecordTmp.hbm.xml" />
        <mapping resource="com/gwac/model/StarKnow.hbm.xml" />
        <mapping resource="com/gwac/model/UploadFileRecord.hbm.xml" />
        <mapping resource="com/gwac/model/Telescope.hbm.xml" />
        <mapping resource="com/gwac/model/OtObserveRecord.hbm.xml" />
        <mapping resource="com/gwac/model/FitsFileCut.hbm.xml" />
        <mapping resource="com/gwac/model/OtType.hbm.xml" />
        <mapping resource="com/gwac/model/StarListFile.hbm.xml" />
        <mapping resource="com/gwac/model/UploadFileUnstore.hbm.xml" />
        <mapping resource="com/gwac/model/DataProcessMachine.hbm.xml" />
        <mapping resource="com/gwac/model/VariationType.hbm.xml" />
        <mapping resource="com/gwac/model/UserInfo.hbm.xml" />
        <mapping resource="com/gwac/model/OtBase.hbm.xml" />
        <mapping resource="com/gwac/model/OtNumber.hbm.xml" />
        <mapping resource="com/gwac/model/Environment.hbm.xml" />
        <mapping resource="com/gwac/model/FitsFile.hbm.xml" />
        <mapping resource="com/gwac/model/Grb.hbm.xml" />
        <mapping resource="com/gwac/model/Gimbal.hbm.xml" />
        <mapping resource="com/gwac/model/StarKnowObserveRecord.hbm.xml" />
    </session-factory>
</hibernate-configuration>
