.container-fluid{
  min-width: 800px;
}
.ot-detail-top, .ot-detail-body{
  /*background-color: #1bc5a3;*/
  font-size: 14px;
  margin: 5px 0 5px 0;
  padding-top: 3px;
}
.ot-detail-top{
  padding-bottom: 3px;
  border-bottom: 2px dashed #1abc9c;
}
.ot-detail-left{
  /*background-color: #1bc5a3;*/
  min-width: 480px;
}
.ot-detail-right{
  /*background-color:#0099CC;*/
}

#ot-followup th, td{
  text-align: center;
}

#user-welcome {
  padding-top: 23px;
  float: left;
  width: 140px;
  min-height: 50px;
  margin-right: 10px;
  /*border: 2px dashed #00f*/
}
#ot-followup{
  overflow: hidden;
  min-height: 50px;
  /*border: 2px dashed #f0f;*/
  min-width: 780px;
}
#user-welcome input{
  display: inline;
}
#ot-followup input{
  display: inline;
}

.ot-detail-top input[type="text"],
.ot-detail-top input[type="password"], 
.ot-detail-top select{
  width: 100px;
  height: 28px;
  margin: 0;
  padding: 3px 0;
}

#ot-followup .select{
  width: 120px;
  height: 28px;
  margin: 0;
  padding: 0;
}

#ot-followup a{
  padding: 3px 39px 3px 15px;
}

.ot-detail-top input[type="button"]{
  width: 60px;
  height: 26px;
  margin: 0 0;
  padding: 2px 0;
}

/*ot cut image show*/
#cut-image-show{
  /*border: 1px solid #ccc;*/
  margin: 10px auto;
  background-color: #fff;
  width: 406px;
  height: 240px;
  /*box-shadow: 0 5px 10px #ccc;*/
}

#ref-image{
  width: 204px;
  height: 200px;
  padding: 0px;
  margin: 0px;
  float: left;
  /*overflow: hidden;*/
}

#obj-image {
  width: 200px;
  height: 240px;
  padding: 0px;
  margin: 0px;
  float: right;
  /*position: absolute;*/
  /*left: 50%;*/
  /*top: 230px;*/
  /*box-shadow: 0 5px 10px #ccc;*/
}

#obj-image-cut {
  width: 620px;
  height: 240px;
  padding: 0px;
  margin: 0px;
  float: right;
  /*position: absolute;*/
  /*left: 50%;*/
  /*top: 230px;*/
  /*box-shadow: 0 5px 10px #ccc;*/
}

#carousel-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-align: center;
}
#carousel{
  position: relative;
  /*width: 400px;*/
  /*left: 100px;*/
}

#carousel img {
  display: block;
  float: left;
}

#navi {
  background-color: #333;
  background-color: rgba(30, 30, 30, 0.8);
  border-top: 1px solid #000;
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: -30px;
  left: 0;
  z-index: 10;
  margin: auto;
}
#timer {
  background-color: #222;
  background-color: rgba(20, 20, 20, 0.8);
  width: 0;
  height: 35px;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
}
#navi2 {
  width: 100%;
  height: 30px;
  padding: 0px;
  bottom: 0px;
  left: 0;
  position: relative;
  z-index: 200;
  vertical-align: bottom;
}
#title2 {
  padding-top: 3px;
  text-align: center;
  width:100%;
  float: left;
}
#pagenumber, #title, #title2, #pager, #start, #end {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

#pagenumber,#start,#end,#title {
  height: 20px;
}
#pagenumber{
  float: left;
  margin-right:5px;
}
#start,#end {
  padding-top: 3px;
  float: right;
  margin-right:2px;
}
#title {
  padding-top: 3px;
  text-align: left;
  /*width:100%;*/
  float: left;
}

#prev, #next, #play {
  display: block;
  position: absolute;
  z-index: 30;
  background-size:27px 27px;
}
#prev, #next {
  width: 27px;
  height: 27px;
  top: 5px;
}
#play {
  width: 33px;
  height: 33px;
  top: 5px;
  background: url(../../resource/gwac_images/imageGallery/ui/pause.png) 0 0 no-repeat transparent;
  left: 55%;
  margin-left: -27px;
}
#play.paused {
  background: url(../../resource/gwac_images/imageGallery/ui/play.png) 0 0 no-repeat transparent;
}
#prev {
  background: url(../../resource/gwac_images/imageGallery/ui/prev.png) 0 0 no-repeat transparent;
  left: 20px;
}
#next {
  background: url(../../resource/gwac_images/imageGallery/ui/next.png) 0 0 no-repeat transparent;
  right: 20px;
}
#prev, #next, #play, #play.paused {
  background-size:27px 27px;
}

/*显示坐标信息*/
#skyCoordinate{width: 100%; text-align:center; font-size:14px;margin-bottom:5px;}
/*显示光变和位置变化*/
#ot-curves{
  /*margin: 10px 10px 10px 10px;*/
  width: 100%;
}

#ot-curve-show{
  width: 100%;
  height: 320px;
}
#ot-position-show{
  width: 100%;
  height: 200px;
}
#ot-followup-mag-show{
  width: 100%;
  height: 420px;
}

#ot-curve{
  width: 100%; 
  height: 300px;
}
#ot-xy-show, #ot-xytemp-show{
  width: 49%; 
  height: 180px;
  float: left;
}
#ot-xy-curve, #ot-xytemp-curve{
  width: 100%; 
  height: 180px;
}
#ot-followup-mag-curve{
  width: 100%; 
  height: 400px;
}
#ot-curve-title, #ot-xy-show-title, #ot-xytemp-show-title, #ot-followup-mag-title{
  width: 100%;  
  height: 20px; 
  text-align:center;
}

/*flot曲线用*/
#tooltip{ 
  position: absolute;
  display: none;
  border: 1px solid #fdd;
  padding: 2px;
  background-color: #fee;
  opacity: 0.80;
  font-size: 14px;
  height: 30px;
  color: #000;
}

/*OT record*/
#ot2-record{
  font-size: 12px;
}
#ot2-record .dataTables_scroll, .ot2-record-table-bottom, .ot2-record-table-top, .ot2-record-table-bottom{
  /*display: none;*/
}
.ot2-record-table-top label{
  display: inline;
  font-size: 12px;
  line-height: 22px;
  text-align: right;
}
.ot2-record-table-top input{
  height:22px;
  width: 80px;
  border-color: rgb(189, 195, 199);
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
}
.ot2-record-table-bottom{

}
#ot2-record-table td, table.dataTable thead th{ 
  line-height: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  white-space: nowrap;
}
.ot2-load-button{
  float:left;
  background-color: rgb(26, 188, 156);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 22px;
  line-height: 18px;
  margin: 0 10px 0 0;
  padding: 2px 0;
  vertical-align: middle;
  text-align: center;
  width: 140px;
}
.ot2-load-button span{
  color: rgb(255, 255, 255);
}

/*OT match*/
#ot2-match{
  font-size: 12px;
}
#ot2-match .dataTables_scroll, .ot2-match-table-bottom, .ot2-match-table-top, .ot2-match-table-bottom{
  /*display: none;*/
}
.ot2-match-table-top label{
  display: inline;
  font-size: 12px;
  line-height: 22px;
  text-align: right;
}
.ot2-match-table-top input{
  height:22px;
  width: 80px;
  border-color: rgb(189, 195, 199);
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
}
.ot2-match-table-bottom{

}
#ot2-match-table td, table.dataTable thead th{ 
  line-height: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  white-space: nowrap;
}


/*OT match*/
#ot2-followup-object{
  font-size: 12px;
}
#ot2-followup-object .dataTables_scroll, .ot2-followup-object-table-bottom, .ot2-followup-object-table-top, .ot2-followup-object-table-bottom{
  /*display: none;*/
}
.ot2-followup-object-table-top label{
  display: inline;
  font-size: 12px;
  line-height: 22px;
  text-align: right;
}
.ot2-followup-object-table-top input{
  height:22px;
  width: 80px;
  border-color: rgb(189, 195, 199);
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
}
.ot2-followup-object-table-bottom{

}
#ot2-followup-object-table td, table.dataTable thead th{ 
  line-height: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  white-space: nowrap;
}

/*#pgwac-allot2*/
#ot-list{
  font-size: 14px;
}
#ot-list a:visited{
  color: #CCCCCC;
}
#ot-list a.importantOT2{
  color: #FF0000;
  font-weight: bold;
}
#ot-list a.importantOT2:visited{
  color: #FF9797;
}
#ot-list a.importantRC3{
  color: #D9006C;
  font-weight: bold;
}
#ot-list a.importantRC3:visited{
  color: #ffaad5;
}
.ot-list-top, .ot-list-body, .followup-form{
  /*background-color: #1bc5a3;*/
  font-size: 14px;
  margin: 5px 15px;
  padding-top: 3px;
  text-align: center;
}

.ot-list-top{
  padding-bottom: 3px;
  border-bottom: 2px dashed #1abc9c;
}

.ot-list-top h4, .followup-form h4{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  white-space: nowrap;
}

.ot-list-top input[type="button"]{
  width: 80px;
  height: 26px;
  margin: 0 0;
  padding: 2px 0;
}

#ot-list th{
  text-align: center;
}

/*#ot-list-table td{ 
  line-height: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
  white-space: nowrap;
  text-align: center;
}

#ot-list-table label{
  display: inline;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
}
#ot-list-table input{
  height:22px;
  width: 80px;
}*/

#ot-list-table_filter input{
  height:30px;
  width: 150px;
  border-color: rgb(189, 195, 199);
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
}

#ot-list-query th, td{
  text-align: center;
}
#ot-list-query{
  /*overflow: hidden;*/
  min-height: 50px;
  /*border: 2px dashed #f0f;*/
  min-width: 780px;
}
#ot-list-query input{
  display: inline;
}

#ot-list-query .select{
  width: 120px;
  height: 28px;
  margin: 0;
  padding: 0;
}

#ot-list-query a{
  padding: 3px 39px 3px 15px;
}

.ot2-table-show{
  margin-top: 5px;
}

.login-field-dialog{
}

label.error{
  color: red;
}

#ot-classify{
  margin-right: 5px;
}

#ot-description{
  text-align: center;
  margin-bottom: 3px;
}

#ot-description-content, #ot-comment-content{
  width: 100%;
  resize: none;
}

#ot-description-button, #ot-comment-button{
  width: 100px;
  height: 26px;
  padding: 2px 0;
  margin-top: 2px;
}

#ot-comment{
  text-align: center;
  margin-bottom: 3px;
  font-size: 12px;
}

#ot-comment-list{
  text-align: left;
}

#download-ot2-info{
  position: absolute;
  top: 10px;
  right: 10px;
}
