* {	padding: 0; margin: 0; vertical-align: top; }

body {
  font: 18px/1.5em "proxima-nova", Helvetica, Arial, sans-serif;
}

a {	color: #069; }
a:hover { color: #28b; }

h2 {
  margin-top: 15px;
  font: normal 32px "omnes-pro", Helvetica, Arial, sans-serif;
}

h3 {
  margin-left: 30px;
  font: normal 26px "omnes-pro", Helvetica, Arial, sans-serif;
  color: #666;
}

p {
  margin-top: 10px;
}

button {
  font-size: 18px;
  padding: 1px 7px;
}

input {
  font-size: 18px;
}

input[type=checkbox] {
  margin: 7px;
}

#header {
  position: relative;
  width: 900px;
  margin: auto;
}

#header h2 {
  margin-left: 10px;
  vertical-align: middle;
  font-size: 42px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

#content {
  width: 98%;
  height: 90%;
  position: absolute; 
  top: 0; 
  left: 0;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  border: 1px solid #ddd;
  background: #fff;
  background: linear-gradient(#f6f6f6 0, #fff 50px);
  background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

#ot-show{
  float: left;
  margin: 0;
  padding: 0;
  width: 80%;
  height: 93%;
}

#ot-show-title{
  width: 100%;
  height: 5%;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
}

#ot-legend{
  margin-top: 10px;
  position: absolute; 
  top: 0; 
  left: 60%;
  text-align: left;
  width: 20%;
  float: right;
}

#ot-show-container {
  float: left;
  box-sizing: border-box;
  width: 100%;
  height: 95%;
}
#sysinfo{
  float: left;
  width: 20%;
  height: 100%;
}

#sysinfo-title{
  width: 100%;
  height: 5%;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
}

#sys-disk-usage{
  width: 100%;
  height: 34%;
}

.demo-placeholder {
  float:left; 
  width:24%; 
  height: 33%;
  margin:5px;
  font-size: 14px;
  line-height: 1.2em;
}

.legend table {
  border-spacing: 5px;
}


#footer {
  width: 98%;
  position: absolute; 
  top: 90%; 
  left: 0;
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  color: #999;
}