html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { margin: 0; padding: 0; }

body {
    text-align: left;
    font-family: Helvetica, Tahoma, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: black;
}

img {
    border: 0;
}

body {
    margin: 0;
    padding: 0;
    background: white;
    text-align: center;
}

body {
    display: block;
}

div#page {
    width: 950px;
    margin:  0 auto;
    margin-top: 5px;
    padding: 0;
    background: white;
    text-align: center;
    clear:both;
}

div#placeholder1 {
    width:800px;
    height:300px;
    float:none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

div#placeholder2 {
    width:800px;
    height:300px;
    float:none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

div#placeholder3 {
    width:800px;
    height:400px;
    float:none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

div#placeholder4 {
    width:800px;
    height:400px;
    float:none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
div#placeholder5 {
    width:800px;
    height:400px;
    float:none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

div#placeholder6 {
    width:800px;
    height:300px;
    float:none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

div#placeholder7 {
    width:800px;
    height:300px;
    float:none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

div#placeholder8 {
    width:800px;
    height:300px;
    float:none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

div#header {
    z-index: 2;
    position: relative;
}

div#header {
    text-align: left;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    color: black;
    background-color: white;
}

div#search {
    text-align: left;
    padding: 0;
    padding-left: 200px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    color: black;
    background-color: white;
}

div#footer {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
    background-color: white;
}

div.title{
    font-weight:bold;
    font-size: 16px;
    margin-top: 10px;
}

div {
    display: block;
}

p{
    text-indent: 2em;
}

table#currentTable{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:1px solid black;
    border-collapse: collapse;
    color:black;
    border-bottom:black thin solid;
    border-left:black thin solid;
    border-right:black thin solid;
    border-top:black thin solid;
    background-color: #eef6fe;
    overflow:auto;

}

a{
    color: #069;
    cursor: auto;
    display: inline;
    font-family: Helvetica, Tahoma, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color:#ff580a;
    text-decoration:none;
}

input{
    background-color: white;
    background-image: none;
    border: #069 solid 1px;
    color: black;
    cursor: auto;
    display: inline-block;
    font-family: Arial, sans-serif, Verdana, Tahoma, Helvetica;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 18px;
    letter-spacing: normal;
    line-height: normal;
    margin: 0px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    width: 152px;
    word-spacing: 0px;
    z-index: auto;
}

.submit{
    background-color: #069;
    background-image: none;
    border: #D2F3FD solid 1px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 23px;
    letter-spacing: normal;
    line-height: normal;
    margin: 0px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    position: static;
    text-align: center;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    white-space: pre;
    width: 36px;
    word-spacing: 0px;
    z-index: auto;
}

input[type='text'].invalid,
input[type='password'].invalid,
input[type='number'].invalid,
input[type='email'].invalid,
input[type='url'].invalid, 
textarea.invalid, select.invalid
{
  border-color: red;
}