* {
  color: #000;
}
input[type='text'],
input[type='password'],
input[type='number'],
input[type='email'],
input[type='url'],
textarea, select
{ 
  background-color: #fff; 
  border: solid 1px #999;
  width: 145px;
  padding: 5px;
}
textarea
{
  height: 100px; 
}
select
{ 
  width: 155px; 
}

input[maxlength='3'] {	width: 30px;	}
input[maxlength='4'] {	width: 40px;	}
input[maxlength='5'] {	width: 45px;	}

input[type='text'].focus,
input[type='password'].focus,
input[type='number'].focus,
input[type='email'].focus,
input[type='url'].focus,
textarea.focus,
select.focus
{ 
  border-color: #000; 
}
input[type='text'].inactive,
input[type='number'].inactive,
input[type='email'].inactive,
input[type='url'].inactive,
textarea.inactive,
select.inactive,
option.inactive
{
  color: #999;
  font-style: italic;
}
input[type='text'].invalid,
input[type='password'].invalid,
input[type='number'].invalid,
input[type='email'].invalid,
input[type='url'].invalid, 
textarea.invalid, select.invalid
{
  border-color: red;
}

span.checkbox-container
{
  border: 1px solid transparent;
  display: block;
  width: 145px;
  padding: 2px 5px;
  float: left;
}
span.checkbox-container.invalid
{
  border-color: red;
}

select.inactive option
{
  color: #000;
  font-style: normal;
}
select option.inactive,
select.inactive option.inactive
{
  color: #999;
  font-style: italic;
}

input[type='submit'] 
{
  margin: 0 20px 0 90px;
}


body, p, input
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
h2 
{
  color: #999;
}
body > div 
{
  width: 740px;
  margin: 50px auto 0 auto;
  overflow: hidden;
}
.column
{
  padding: 30px 0 50px 0;
  margin: 20px 0;
  width: 350px;
  float: left;
}
.column.right
{
  float: right;
}
.column.left
{
  border-right: 1px solid #ccc;
}
.column div
{
  padding: 2px 0;
}
.column div:after
{
  content: '';
  display: block;
  clear: both;
}
label
{
  width: 150px;
  padding: 5px 0 0 15px;
  display: block;
  float: left;
}