<?xml version="1.0" encoding="UTF-8"?>
<web-app id="gwac" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>gwac-front-end</display-name>
  <!--OpenSessionInViewFilter ActionContextCleanUp-->
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.gwac.servlet.LoginFilter</filter-class>
    <init-param>
      <param-name>exception-list</param-name>
      <param-value>/login.jsp,/logout.jsp,/register.jsp,/error.jsp,/404.jsp,/user-login.action,/otLookBack.action,/otFollowUpload.action,/uploadAction.action,/gwacFileReceive.action,/dpmIsAlive.action,/getCutImageList.action,/getCutImageRefList.action,/dataSyncRecv.action</param-value>
    </init-param>
    <init-param>
      <param-name>login-url</param-name>
      <param-value>/login.jsp</param-value>
    </init-param> 
    <init-param>
      <param-name>index-url</param-name>
      <param-value>/index.jsp</param-value>
    </init-param> 
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/classes/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>OT2InfoDownlaod</servlet-name>
    <servlet-class>com.gwac.servlet.OT2InfoDownlaod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OT2InfoDownlaod</servlet-name>
    <url-pattern>/downloadot2aaa</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>  
    <error-code>404</error-code>  
    <location>/error.jsp</location>  
  </error-page> 
</web-app>
